.top-header {
    background-color: #F6F7FB;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 36px;
    // border: 2px solid saddlebrown;

    .top-container {
        display: flex;
        justify-content: space-between;
        // border: 2px solid saddlebrown;
        

    }

    .top-header-left {
        width: 50%;
        flex-shrink: 0;

        ul {
            display: flex;
            list-style: none;
            gap: 45px;

            li {
                transition: color 0.3s ease;
                
                &:hover {
                    color: #399A3A;
                    cursor: pointer;
                }
            }
        }
    }

    .top-header-right {
        display: flex;
        flex-shrink: 0;

        select {
            border: none;
            background-color: rgba(255, 255, 255, 0);
            margin-right: 20px;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: whitesmoke;
                color: #399A3A;
            }
        }

        .contact {
            display: flex;
            gap: 10px;
            width: 200px;
            transition: color 0.3s ease, transform 0.3s ease;

            &:hover {
                color: #399A3A;
                cursor: pointer;
                transform: scale(1.05);
            }
        }

        p {
            transition: color 0.3s ease;

            &:hover {
                color: #399A3A;
                cursor: pointer;
            }
        }
    }
}
.center-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    img{
        cursor: pointer;
        transition: color 0.3s ease, transform 0.3s ease;
        &:hover{
            transform: scale(1.05);
        }
    }

    .logo {
        height: auto; 
    }

    .center-right {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: center;

        .search {
            display: flex;
            width: 600px;
            height: 40px;
            border-radius: 4px;
            overflow: hidden;
            position: relative;

            input {
                flex: 1;
                border: 2px solid #399A3A;
                padding: 8px;
                outline: none;
                color: black;
            }

            .btn-search {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                padding: 0 12px;
                background-color: #399A3A;
                color: white;
                border: none;
                cursor: pointer;
                transition: 0.3s;

                button {
                    background-color: transparent;
                    color: white;
                    border: none;
                    font-weight: 500;
                    font-size: 16px;
                }

                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
    
    .cart-heart {
        display: flex;
        align-items: center;
        gap: 20px;
    
        .icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: color 0.3s ease;
    
            img {
                width: 30px;
                height: auto;
                transition: filter 0.3s ease;
                cursor: pointer;
            }
    
            p {
                margin-top: 5px;
                font-size: 14px;
                color: #333;
                transition: color 0.3s ease;
            }
    
            &:hover {
                img {
                    filter: brightness(0) saturate(100%) invert(37%) sepia(77%) saturate(556%) hue-rotate(72deg) brightness(90%) contrast(90%);
                }
                p {
                    color: #399A3A;
                }
            }
        }
    }
    
    
}
.bottom-header {
    display: flex;
    justify-content: space-between; 
    padding: 10px 0;
    border-bottom: 1px solid #c9c8c8;
}

.selects {
    display: flex;
    gap: 60px; 
}

.selects select {
    width: 80px;  // Фиксированная ширина
    border: none; // Убираем границу
    background-color: transparent; // Прозрачный фон
    font-size: 14px;
    cursor: pointer;
    outline: none;
    text-align: center;
    padding: 5px 0;
    
    &:hover {
        color: #399A3A; 
    }
}
.uls {
    display: flex;
    align-items: center; 
}

.uls ul {
    display: flex;
    list-style: none;
    gap: 70px; 
    padding: 0;
    margin: 0;
}

.uls ul li {
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
        color: #399A3A;
    }
}



.header a {
    text-decoration: none;
    color: inherit;
  }
  
  .header a:visited {
    color: inherit;
  }
  
  .header a:hover {
    color: #399A3A;
    text-decoration: none;
  }
    .top-header-left ul {
    list-style: none;
    display: flex;
    gap: 45px;
    padding: 0;
    margin: 0;
  
    li::before {
      content: "- ";
      color: #399A3A; 
    }
  
    li {
      transition: color 0.3s ease;
      cursor: pointer;
  
      &:hover {
        color: #399A3A;
      }
    }
  }




  .header {
    position: relative;
    overflow: hidden;
    z-index: 1;
  
    // .drops {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   pointer-events: none;
    //   z-index: 0;
  
    //   .drop {
    //     position: absolute;
    //     top: -10%;
    //     width: 10px;
    //     height: 18px;
    //     background: radial-gradient(rgb(9, 207, 49), rgba(255, 255, 255, 0.2));
    //     box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    //     border-radius: 50%;
    //     animation-name: fall;
    //     animation-timing-function: linear;
    //     animation-iteration-count: infinite;
    //     filter: blur(0.5px);
    //   }
    // }
  
    .all-header {
      position: relative;
      z-index: 1;
    }
  
    .header-container {
      width: 100%;
      max-width: 1110px;
      margin: 0 auto;
      padding: 0 20px; /* Отступы, чтобы контент не прилегал к краям */
    }
  }

  .cor {
    position: relative;
  }

  .corz {
    background-color: #399A3A;
    font-size: small;
    width: 20px;        /* Сделай ширину и высоту одинаковыми */
    height: 20px;
    border-radius: 50%; /* Это лучше, чем 1000px */
    display: flex;      /* Чтобы центрировать текст внутри */
    align-items: center;
    justify-content: center;
    color: white; 
    position: absolute;
    right: 15px;
    top: -10px;      /* Текст будет виден на зелёном фоне */
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
  }
  