.brend{
    display: flex;
    flex-direction: column;
    padding-top: 50px;

   
    .cards{
        display: flex;
        gap: 70px;
        margin-top: 20px;
    }
}
body{
    background-color: black;
}
  